body {
  margin: 0 auto;
  max-width: 1440px;
  font-family: montserrat, arial, helvetica, sans-serif;
}

.header {
  display: flex;
}
.header::before{
  content: "";
  position: absolute;
  width: 461px;
  height: 900px;
  background-color: black;
  z-index: 0;
}
.header__logo {
  display: flex;
  font-size: 30px;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  align-items: center;
  padding-top: 10px;
  padding-left: 52px;
  z-index: 1;
}
.header__language {
  display: flex;
  padding-top:10px;
  align-items: center;
  margin-left: 241px;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  transition: opacity .5s ease-out;
  z-index: 1;
}
.header__language:hover {
	opacity: 0.4;
	cursor: pointer;
}
.header__language::after {
	content: "";
	margin: 2px 7px;
	border: solid white;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
  z-index: 1;
}
.burger-menu{
  margin-left: auto;
}
#burger-menu__toggle {
  display: none;
}
.burger-menu__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 92px;
  cursor: pointer;
  opacity: initial;
  background: #E5E5E5;

}
.burger-menu__btn > span,
.burger-menu__btn > span::after {
  display: block;
  position: absolute;
  margin-top: -13px;
  width: 35px;
  height: 2px;
  background-color: black;
}
.burger-menu__btn > span::after {
  content: '';
  top: 21px;
}

.section-one{
  display: flex;
}
.section-one__img{
  position: absolute;
  width: 549px;
  height: 562px;
  background: no-repeat url('img/girl.png');
  z-index: 1;
  margin: 73px 0px 0px 186px;
}
.section-one__title{
  font: bold 80px/82px montserrat, Arial, Helvetica, Sans-serif;
  padding: 175px 0px 0px 794px;
  margin: 0px;
}
.section-one__subtitle{
  position: absolute;
  height: 127px;
  width: 415px;
  font: 15px/21px 'montserrat', Arial, Helvetica, Sans-serif;
  padding: 356px 0px 0px 789px;
  margin: 0px;
}
.section-one__button{
  position:absolute;
  display:flex;
  width: 203px;
  height: 37px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: 'montserrat', Arial, Helvetica, Sans-serif;
  margin: 523px 0px 0px 789px;
  padding: 0px;
  border-radius: 1.5px;
  background-color: white;
}
.section-one__link{
  position: absolute;
  font-size: 13px;
  text-decoration: none;
  color: black;
  padding: 532px 184px 0px 73%;
}
.section-one__vektor{
  padding: 532px 11% 0px 0px;
}
.section-one__footer{
  position: absolute;
  display: flex;
  padding-top: 719px;
  margin-left: 52px;
}
.section-one__footer-social-inst {
  width: 43px;
  height: 43px;
  padding-right: 14px;
  z-index: 1;
  background: no-repeat url(img/INST.svg);
}
.section-one__footer-social-vk{
  width: 43px;
  height: 43px;
  padding-right: 11px;
  z-index: 1;
  background: no-repeat url(img/VK.svg);
}
.section-one__footer-social-fb{
  width: 43px;
  height: 43px;
  z-index: 1;
  background: no-repeat url(img/FB.svg);
}
.f__ellipse{
	height: 50px;
  width: 33px;
  padding-left: 502px;
}

.section-two{
  height: 900px;
  margin-top: 260px;
  background: #FAE8E4;
}
.section-two__bag-one{
  position: absolute;
  padding: 217px 0px 0px 137px;
}
.section-two__bag-two{
  position: absolute;
  padding: 28px 0px 0px 231px;
}
.section-two__product{
  position: absolute;
  width: 488px;
  height: 556px;
  background-color: #FFFFFF;
  margin: 178px 0px 0px 879px;
}
.section-two__product_title{
  font: bold 45px/47px 'montserrat', Arial, Helvetica, Sans-serif;
  margin:0px;
  padding: 33px 0px 8px 57px;
}
.section-two__product_subtitle{
  font:bold 16px/16px 'montserrat', Arial, Helvetica, Sans-serif;
  letter-spacing: 0.13em;
  margin:0px;
  padding: 0px 0px 64px 55px;
  opacity: .5;
}
.section-two__product_text{
  font: 16px/21px 'montserrat', Arial, Helvetica, Sans-serif;
  margin: 0px;
  padding: 0px 65px 0px 55px;
  opacity: .5;
}
.section-two__circle{
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.section-two__circle-color{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.section-two__product_circle_grey {
  background: #DEDEDE;
  margin-left: 61px;
}
.section-two__product_circle_pink {
  background: #F29F9F;
  margin-left: 12px;
}
.section-two__product_circle_blue {
  background: #A8BFF9;
  margin-left: 12px;
}
.section-two__product_circle_green {
  background: #90BD8F;
  margin-left: 12px;
}
.section-two__product-price{
  align-items: center;
  font: bold 42px/56px 'montserrat', Arial, Helvetica, Sans-serif;
  margin-left:22%;
}
.section-two__product-button{
  width: 255px;
  height: 45px;
  margin: 141px 0px 0px 170px;
  font:13px 'Montserrat', Arial, Helvetica, Sans-serif;
  background-color: white;
}
.section-two__link{
  position: absolute;
  font: 14px/23px 'montserrat', arial, helvetica, sans-serif;
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin: 53% 0px 0px 61%;
}
.section-two__vektor{
  position: absolute;
  margin: 763px 0px 0px 78%;
}

.section-three{
  height: 900px;
  background-color: #EBE3D8;
}
.section-three::before{
  content: '';
  display: flex;
  position: absolute;
  width: 73px;
  height: 900px;
  background: black;
  right: 68%;
}
.section-three__look{
  position: absolute;
  z-index: 1;
  width: 830px;
  height: 615px;
  margin-left: 85px;
  margin-top: 133px;
}
.section-three__look-text{
  position: absolute;
  margin: 262px 0px 0px 818px;
  width: 475px;
  height: 347px;
  background-color: #FAE8E4;
  z-index: 1;
}
.look-text__title{
  font: bold 42px/41px 'montserrat', arial, helvetica, sans-serif;
  margin: 31px 0px 0px 45px;
}
.look-text__subtitle{
  font: 16px 'montserrat', arial, helvetica, sans-serif;
  opacity: 0.5;
  letter-spacing: 0.14em;
  margin: 14px 0px 0px 46px;
}
.look-text__text{
  font: 18px/21px 'montserrat', arial, helvetica, sans-serif;
  opacity: 0.5;
  margin: 35px 57px 54px 47px;
}
.look-text__button{
  font: 13px 'montserrat', arial, helvetica, sans-serif;
  height: 44px;
  width: 253px;
  margin: 0px 0px 0px 162px;
  background-color: white;
}
.section-three__link{
  position: absolute;
  font: 14px/16px 'montserrat', arial, helvetica, sans-serif;
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin: 642px 0px 0px 66%;
}
.section-three__vektor{
  position: absolute;
  margin: 642px 0px 0px 82%;
}
.section-three__footer{
	display: flex;
	justify-content:flex-end;
	align-items: center;
	position:relative;
  padding: 849px 16px 0px 0px;
}
.footer__text {
	margin-right: 13px;
	font: bold 13px/15px 'montserrat', arial, helvetica, sans-serif;
}
.footer__img {
	width: 88px;
	height: 27px;
}
