.body {
  margin: 0 auto;
  max-width: 1440px;
  font-family: montserrat, arial, helvetica, sans-serif;
}  

.header {
  display: flex;
}
.header::before{
  content: "";
  position: absolute;
  width: 461px;
  height: 900px;
  background-color: black;
  z-index: 0;
}
.header__logo {
  display: flex;
  width: 340px;
  height:92px;
  background: black;
  font-size: 30px;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  align-items: center;
  padding-top: 10px;
  padding-left: 52px;
  z-index: 1;
}
.header__language {
  display: flex;
  padding-top:10px;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  z-index: 1;
}
.header__language::after {
	content: "";
	margin: 2px 7px;
	border: solid white;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
  z-index: 1;
}

.burger-menu{
  margin-left: auto;
}
#burger-menu__toggle {
  display: none;
}
.burger-menu__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 92px;
  cursor: pointer;
  opacity: initial;
  background: #E5E5E5;
}
.burger-menu__btn::before {
 content: "";
 position: absolute;
 background: black;
 width: 34.7px;
 height: 3.48px;
 top: 48.5px;
 right: 28px;
}
.burger-menu__btn::after {
 content: "";
 background: black;
 position: absolute;
 width: 34.7px;
 height: 3.48px;
 top: 40px;
 right: 28px;
 }

.section-one{
  display: flex;
}
.section-one__img{
  position: absolute;
  width: 549px;
  height: 562px;
  background: no-repeat url('img/girl.png');
  z-index: 1;
  margin: 66px 0px 0px 186px;
}
.section-one__title{
  font: bold 83px/82px montserrat, Arial, Helvetica, Sans-serif;
  padding: 168px 0px 0px 788px;
  margin: 0px;
}
.section-one__subtitle{
  position: absolute;
  height: 127px;
  width: 470px;
  font: 17px/21px 'montserrat', Arial, Helvetica, Sans-serif;
  padding: 352px 0px 0px 788px;
  margin: 0px;
}
.section-one__button{
  position:absolute;
  display:flex;
  width: 201px;
  height: 44px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: 'montserrat', Arial, Helvetica, Sans-serif;
  margin: 514px 0px 0px 787px;
  padding: 0px;
  border-radius: 1.5px;
  background-color: white;
}
.section-one__link{
  position: absolute;
  font-size: 14px;
  text-decoration: none;
  color: black;
  padding: 527px 0px 0px 1044px;
}
.section-one__vektor{
  padding: 530px 11% 0px 0px;
}
.section-one__footer{
  position: absolute;
  display: flex;
  padding-top: 712px;
  margin-left: 52px;
}
.section-one__footer-social-inst {
  width: 43px;
  height: 43px;
  padding-right: 14px;
  z-index: 1;
  background: no-repeat url(img/INST.svg);
}
.section-one__footer-social-vk{
  width: 43px;
  height: 43px;
  padding-right: 11px;
  z-index: 1;
  background: no-repeat url(img/VK.svg);
}
.section-one__footer-social-fb{
  width: 43px;
  height: 43px;
  z-index: 1;
  background: no-repeat url(img/FB.svg);
}
.f__ellipse{
	height: 47px;
  width: 34px;
  padding-left: 498px;
}

.section-two{
  height: 900px;
  margin-top: 257px;
  background: #FAE8E4;
}
.section-two__bag-one{
  position: absolute;
  padding: 217px 0px 0px 137px;
}
.section-two__bag-img-two{
  position: absolute;
  background: no-repeat url('img/pinkbag.png');
  padding: 0px;
  margin: 24px 0px 0px 235px;
  height: 844px;
  width: 582px;
}
.section-two__product{
  position: absolute;
  width: 492px;
  height: 557px;
  background-color: #FFFFFF;
  margin: 163px 0px 0px 877px;
}
.section-two__product_title{
  font: bold 42px/50px 'montserrat', Arial, Helvetica, Sans-serif;
  margin:0px;
  padding: 42px 0px 13px 56px;
}
.section-two__product_subtitle{
  font:bold 15px/16px 'montserrat', Arial, Helvetica, Sans-serif;
  letter-spacing: 0.13em;
  margin:0px;
  padding: 0px 0px 61px 55px;
  opacity: .5;
}
.section-two__product_text{
  font: 16px/21px 'montserrat', Arial, Helvetica, Sans-serif;
  margin: 0px;
  padding: 0px 78px 0px 58px;
  opacity: .5;
}
.section-two__circle{
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.section-two__circle-color{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.section-two__product_circle_grey {
  background: #DEDEDE;
  margin-left: 56px;
}
.section-two__product_circle_pink {
  background: #F29F9F;
  margin-left: 16px;
}
.section-two__product_circle_blue {
  background: #A8BFF9;
  margin-left: 16px;
}
.section-two__product_circle_green {
  background: #90BD8F;
  margin-left: 16px;
}
.section-two__product-price{
  align-items: center;
  font: bold 41px/56px 'montserrat', Arial, Helvetica, Sans-serif;
  margin-left:19%;
}
.section-two__product-button{
  width: 255px;
  height: 45px;
  margin: 141px 0px 0px 170px;
  font:14px 'Montserrat', Arial, Helvetica, Sans-serif;
  background-color: white;
}
.section-two__link{
  position: absolute;
  font: 14px/23px 'montserrat', arial, helvetica, sans-serif;
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin: 759px 0px 0px 884px;
}
.section-two__vektor{
  position: absolute;
  margin: 763px 0px 0px 1120px;
}

.section-three{
  height: 900px;
  background-color: #EBE3D8;
}
.section-three::before{
  content: '';
  display: flex;
  position: absolute;
  width: 73px;
  height: 900px;
  background: black;
  right: 68%;
}
.section-three__look{
  position: absolute;
  z-index: 1;
  width: 830px;
  height: 645px;
  background: no-repeat url('img/look.png');
  margin-left: 85px;
  margin-top: 133px;
}
.section-three__look-text{
  position: absolute;
  margin: 262px 0px 0px 818px;
  width: 475px;
  height: 347px;
  background-color: #FAE8E4;
  z-index: 1;
}
.look-text__title{
  font: bold 42px/41px 'montserrat', arial, helvetica, sans-serif;
  margin: 31px 0px 0px 45px;
}
.look-text__subtitle{
  font: 16px 'montserrat', arial, helvetica, sans-serif;
  opacity: 0.5;
  letter-spacing: 0.14em;
  margin: 14px 0px 0px 46px;
}
.look-text__text{
  font: 18px/21px 'montserrat', arial, helvetica, sans-serif;
  opacity: 0.5;
  margin: 29px 57px 52px 47px;
}
.look-text__button{
  font: 14px 'montserrat', arial, helvetica, sans-serif;
  height: 46px;
  width: 253px;
  margin: 5px 0px 0px 158px;
  background-color: white;
}
.section-three__link{
  position: absolute;
  font: 14px/16px 'montserrat', arial, helvetica, sans-serif;
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin: 644px 0px 0px 949px;
}
.section-three__vektor{
  position: absolute;
  background: no-repeat url('img/vector3.svg');
  margin: 642px 0px 0px 1183px;
  width: 108px;
  height: 14px;
}
.section-three__footer{
	display: flex;
	justify-content:flex-end;
	align-items: center;
	position:relative;
  padding: 849px 16px 0px 0px;
}
.footer__text {
	margin-right: 13px;
	font: bold 13px/15px 'montserrat', arial, helvetica, sans-serif;
}
.footer__img {
	width: 88px;
	height: 27px;
}

@media (max-width: 1380px){
  .section-one__vektor{
    padding: 530px 0px 0px 0px;
  }
  .section-two__product{
    margin: 163px 0px 0px 830px;
  }
}

@media (max-width: 1366px){
  .section-one__link{
    padding: 539px 0px 0px 1000px;
  }
  .section-one__vektor{
    position: absolute;
    margin: 540px 0px 0px 1175px;
    padding: 0px;
  }
  .section-two__bag-two{
    width: 450px;
    height: 624px;
    padding: 166px 0px 0px 240px;
  }
  .section-two{
    margin-top: 458px;
  }
  .section-two__product{
    margin: 178px 0px 0px 760px;
    width: 465px;
  }
  .section-two__link{
    margin: 759px 0px 0px 836px;
  }
  .section-two__vektor{
    margin: 766px 0px 0px 1080px;
    width: 130px;
  }
  .section-three__look{
    width: 680px;
    height: 550px;
  }
  .section-three__look-text{
    margin: 262px 0px 0px 740px;
  }
  .section-three__link{
    margin: 644px 0px 0px 790px;
  }
  .section-three__vektor{
    margin: 642px 0px 0px 1033px;
  }
}

@media (max-width: 1260px){
  .section-one__img{
    width: 500px;
    height: 545px;
    margin: 73px 0px 0px 159px;
  }
  .section-one__title{
    padding: 186px 0px 0px 700px;
  }
  .section-one__subtitle{
    padding: 362px 0px 0px 700px;
  }
  .section-one__button{
    margin: 523px 0px 0px 700px;
  }
  .section-one__vektor{
    margin: 538px 0px 0px 1120px;
  }
  .section-one__link{
    padding: 539px 0px 0px 930px;
  }
  .section-two__product{
    margin: 178px 0px 0px 690px;
  }
  .section-two__link{
    margin: 759px 0px 0px 698px;
  }
  .section-two__vektor{
    margin: 763px 0px 0px 946px;
    width: 185px;
  }
  .section-three__look{
    width: 655px;
    height: 532px;
  }
  .section-three__look-text{
    width: 435px;
    margin: 262px 0px 0px 720px;
  }
}

@media (max-width: 1160px){
  .section-two{
    margin-top: 625px;
  }
}

@media (max-width: 1000px){
  .header::before{
    width: 350px;
  }
  .header__logo {
    width: 235px;
  }
  .section-one__img{
    background-size: 75%;
    margin: 110px 0px 0px 95px;
  }
  .section-one__title{
    font: bold 55px/57px montserrat, Arial, Helvetica, Sans-serif;
    padding: 115px 0px 0px 531px;
  }
  .section-one__subtitle{
    padding: 250px 0px 0px 531px;
  }
  .section-one__button{
    width: 175px;
    margin: 425px 0px 0px 531px;
  }
  .section-one__link{
    padding: 438px 0px 0px 740px;
  }
  .section-one__vektor{
    margin: 438px 0px 0px 910px;
    padding: 0px;
  }
  .f__ellipse{
    padding-left: 350px;
  }

  .section-two{
    margin-top: 567px;
  }
  .section-two__bag-one{
    height: 340px;
    width: 300px;
    padding: 185px 0px 0px 65px;
  }
  .section-two__bag-two{
    height: 530px;
    width: 330px;
    padding: 120px 0px 0px 150px;
  }
  .section-two__product{
    width: 415px;
    height: 465px;
    margin: 185px 0px 0px 565px;
  }
  .section-two__product_title{
    font: bold 40px/42px 'montserrat', Arial, Helvetica, Sans-serif;
    padding: 35px 0px 8px 35px;
  }
  .section-two__product_subtitle{
    font:bold 14px/15px 'montserrat', Arial, Helvetica, Sans-serif;
    padding: 0px 0px 35px 35px;
  }
  .section-two__product_text{
    font: 14px/20px 'montserrat', Arial, Helvetica, Sans-serif;
    padding: 0px 35px 0px;
  }
  .section-two__product_circle_grey {
    margin-left: 35px;
  }
  .section-two__product-price{
    font: bold 35px/56px 'montserrat', Arial, Helvetica, Sans-serif;
    margin-left:25%;
  }
  .section-two__product-button{
    width: 200px;
    margin: 115px 0px 0px 165px;
  }
  .section-two__link{
    font: 13px/23px 'montserrat', arial, helvetica, sans-serif;
    margin: 680px 0px 0px 565px;
  }
  .section-two__vektor{
    margin: 685px 0px 0px 780px;
  }
  .section-three__look{
    width: 530px;
    height: 450px;
    margin-left: 65px;
    margin-top: 170px;
  }
  .section-three__look-text{
    margin: 262px 0px 0px 565px;
    width: 415px;
    height: 320px;
  }
  .look-text__title{
    font: bold 35px/37px 'montserrat', arial, helvetica, sans-serif;
  }
  .look-text__subtitle{
    font: 14px 'montserrat', arial, helvetica, sans-serif;
    margin: 10px 0px 0px 46px;
  }
  .look-text__text{
    font: 15px/18px 'montserrat', arial, helvetica, sans-serif;
    margin: 20px 57px 52px 47px;
  }
  .look-text__button{
    width: 190px;
    margin: 0px 0px 0px 160px;
  }
  .section-three__link{
    font: 13px/16px 'montserrat', arial, helvetica, sans-serif;
    margin: 600px 0px 0px 610px;
  }
  .section-three__vektor{
    margin: 600px 0px 0px 845px;
  }
}

@media (max-width: 768px){
  .header::before{
    display: none;
  }
  .header__logo {
    display: flex;
    width: 317px;
    height:40px;
    font-size: 30px;
    letter-spacing: 0.07em;
    color: black;
    background-color: white;
    align-items: center;
    padding-top: 14px;
    padding-left: 26px;
  }
  .header__language {
    display: none;
  }
  .burger-menu{
    margin-left: auto;
  }
  #burger-menu__toggle {
    display: none;
  }
  .burger-menu__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    cursor: pointer;
    opacity: initial;
    background: #E5E5E5;
  }
  .burger-menu__btn::before {
   content: "";
   position: absolute;
   background: black;
   width: 18.7px;
   height: 3.48px;
   top: 29.5px;
   right: 28px;
  }
  .burger-menu__btn::after {
   content: "";
   background: black;
   position: absolute;
   width: 18.7px;
   height: 3.48px;
   top: 39px;
   right: 28px;
  }

  .section-one{
    display: flex;
   }
  .section-one__img{
    position: absolute;
    width: 100%;
    height: 800px;
    background: no-repeat url('img/girl_mobile.png');
    background-size: cover;
    background-position: top 38% left 0%;
    margin: 0;
    padding: 0;
  }
  .section-one__title{
    font: bold 75px/65px montserrat, Arial, Helvetica, Sans-serif;
    padding: 600px 0px 0px 90px;
    margin: 0px;
    z-index: 2;
  }
  .section-one__title::before {
    content: "";
    position: absolute;
    margin: 20% 0 0 35%;
    border: solid #020202;
    border-width: 0 3px 3px 0;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 22px;
    height: 22px;
  }
  .section-one__subtitle{
    display: none;
  }
  .section-one__button{
    display: none;
  }
  .section-one__link{
    display: none;
  }
  .section-one__vektor{
    display: none;
  }
  .section-one__footer{
    display: none;
  }

  .section-two{
    height: 800px;
    margin-top: 70px;
  }
  .section-two__bag-one{
    display: none;
  }
  .section-two__bag-img-two{
    height: 100%;
    width: 100%;
    background-position: top 120% left 45%;
    background-size: 55%;
    padding: 0px;
    margin: 0px;
  }
  .section-two__product{
    position: absolute;
    width: 70%;
    height: 80%;
    margin: 55% 0px 0px 15%;
  }
  .section-two__product_title{
    font: bold 35px/40px 'montserrat', Arial, Helvetica, Sans-serif;
    padding: 21px 0px 3px 31px;
  }
  .section-two__product_subtitle{
    font:bold 13px/14px 'montserrat', Arial, Helvetica, Sans-serif;
    padding: 0px 0px 15px 34px;
    letter-spacing: 0.17em;
  }
  .section-two__product_text{
    font: 16px/23px 'montserrat', Arial, Helvetica, Sans-serif;
    padding: 0px 20px 0px 37px;
  }
  .section-two__circle{
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .section-two__circle-color{
    width: 30px;
    height: 30px;
  }
  .section-two__product_circle_grey {
    margin-left: 38px;
  }
  .section-two__product_circle_pink {
    margin-left: 12px;
  }
  .section-two__product_circle_blue {
    margin-left: 12px;
  }
  .section-two__product_circle_green {
    margin-left: 12px;
  }
  .section-two__product-price{
    align-items: center;
    font: bold 38px/41px 'montserrat', Arial, Helvetica, Sans-serif;
    margin-left:55%;
  }
  .section-two__product-button{
    width: 260px;
    height: 37px;
    margin: 85px 139px 0px 139px;
    font:14px 'Montserrat', Arial, Helvetica, Sans-serif;
  }
  .section-two__link{
    display: none;
  }
  .section-two__vektor{
    display: none;
  }

  .section-three{
    height: 800px;
   }
  .section-three::before{
    content: '';
    display: flex;
    position: absolute;
    width: 42px;
    height: 800px;
    background: black;
    right: 62%;
  }
  .section-three__look{
    position: absolute;
    z-index: 1;
    width: 70%;
    background-size: 103%;
    margin-left: 15%;
    margin-top: 20px;
  }
  .section-three__look-text{
    position: absolute;
    margin: 53% 0px 0px 25%;
    width: 56%;
    height: 45%;
    z-index: 1;
  }
  .look-text__title{
    font: bold 31px/32px 'montserrat', arial, helvetica, sans-serif;
    margin: 15px 0px 0px 23px;
   }
  .look-text__subtitle{
    font: 14px 'montserrat', arial, helvetica, sans-serif;
    margin: 5px 0px 0px 23px;
  }
  .look-text__text{
    font: 16px/23px 'montserrat', arial, helvetica, sans-serif;
    margin: 10px 0px 8px 24px;
  }
  .look-text__button{
    font: 14px 'montserrat', arial, helvetica, sans-serif;
    height: 37px;
    width: 260px;
    margin: 0px 85px 0px 85px;
  }
  .section-three__link{
    font: 25px/30px 'montserrat', arial, helvetica, sans-serif;
    margin: 92% 40px 0px 55%;
  }
  .section-three__vektor{
    margin: 100% 0px 0px 55%;
    background-size: 100%;
    width: 138px;
  }
  .section-three__footer{
   display: none;
  }
}

@media (max-width: 678px){
  .section-two__bag-img-two{
    background-position: top 200% left 45%;
  }
  .section-two__product-price{
    margin-left:40%;
  }
  .section-two__product-button{
    margin: 85px 107px 0px 107px;
  }
  .look-text__button{
    margin: 0px 59px 0px 59px;
  }
}

@media (max-width: 650px){
  .section-two__bag-img-two{
    background-position: top 280% left 45%;
  }
  .section-two__product{
    margin: 60% 0px 0px 15%;
  }
}

@media (max-width: 610px){
  .section-one__title::before {
    margin: 25% 0 0 35%;
  }
  .section-two__bag-img-two{
    background-position: top 690% left 45%;
  }
  .section-two__product{
    height: 85%;
    margin: 62% 0px 0px 15%;
  }
  .section-two__product-price{
    margin-left:30%;
  }
  .section-three__vektor{
    margin: 102% 0px 0px 55%;
  }
}

@media (max-width: 562px){
  .section-two__bag-img-two{
    background-position: top 0% left 45%;
  }
  .section-two__product{
    height: 78%;
    margin: 72% 0px 0px 15%;
  }
  .section-two__product_title{
    font: bold 30px/32px 'montserrat', Arial, Helvetica, Sans-serif;
  }
  .section-two__product_subtitle{
    font:bold 11px/13px 'montserrat', Arial, Helvetica, Sans-serif;
  }
  .section-two__product_text{
    font: 14px/20px 'montserrat', Arial, Helvetica, Sans-serif;
  }
  .section-two__product-price{
    margin-left:19%;
    font: bold 33px/35px 'montserrat', Arial, Helvetica, Sans-serif;
  }
  .section-two__product-button{
    margin: 85px 67px 0px 67px;
  }
  .look-text__title{
    font: bold 25px/27px 'montserrat', arial, helvetica, sans-serif;
   }
  .look-text__subtitle{
    font: 11px 'montserrat', arial, helvetica, sans-serif;
  }
  .look-text__text{
    font: 13px/16px 'montserrat', arial, helvetica, sans-serif;
    margin: 10px 0px 20px 24px;
  }
  .look-text__button{
    width: 240px;
    margin: 0px 27px 0px 34px;
  }
  .section-three__link{
    margin: 100% 40px 0px 50%;
  }
  .section-three__vektor{
    margin: 110% 0px 0px 50%;
  }
}

@media (max-width: 520px){
  .section-one__title{
    font: bold 57px/55px montserrat, Arial, Helvetica, Sans-serif;
  }

  .section-two__product_title{
    font: bold 28px/30px 'montserrat', Arial, Helvetica, Sans-serif;
  }
  .section-two__product_subtitle{
    font:bold 12px/13px 'montserrat', Arial, Helvetica, Sans-serif;
  }
  .section-two__product_text{
    font: 13px/18px 'montserrat', Arial, Helvetica, Sans-serif;
  }
  .section-two__circle{
    margin-top: 15px;
  }
  .section-two__circle-color{
    width: 25px;
    height: 25px;
  }
  .section-two__product-price{
    align-items: center;
    font: bold 32px/34px 'montserrat', Arial, Helvetica, Sans-serif;
    margin-left:15%;
  }
  .section-two__product-button{
    width: 220px;
    margin: 90px 67px 0px 67px;
  }

  .section-three__look-text{
    margin: 56% 0px 0px 24%;
  }
  .look-text__title{
    font: bold 24px/26px 'montserrat', arial, helvetica, sans-serif;
   }
  .look-text__subtitle{
    font: 12px 'montserrat', arial, helvetica, sans-serif;
  }
  .look-text__text{
    font: 13px/16px 'montserrat', arial, helvetica, sans-serif;
    margin: 10px 0px 20px 24px;
  }
  .look-text__button{
    width: 200px;
    margin: 0px 22px 0px 40px;
  }
  .section-three__link{
    font: 19px/22px 'montserrat', arial, helvetica, sans-serif;
    margin: 115% 40px 0px 50%;
  }
  .section-three__vektor{
    margin: 123% 0px 0px 50%;
  }
}

@media (max-width: 450px){
  .section-one__img{
    background-position: top 38% left 75%;
  }
  .section-one__title{
    font: bold 45px/47px montserrat, Arial, Helvetica, Sans-serif;
    padding: 615px 0px 0px 90px;
  }
  .section-one__title::before {
    margin: 32% 0 0 28%;
  }
  .section-two__product_title{
    font: bold 22px/26px 'montserrat', Arial, Helvetica, Sans-serif;
  }
  .section-two__product_subtitle{
    font:bold 10px/11px 'montserrat', Arial, Helvetica, Sans-serif;
  }
  .section-two__product_text{
    font: 11px/15px 'montserrat', Arial, Helvetica, Sans-serif;
  }
  .section-two__circle-color{
    width: 23px;
    height: 23px;
  }
  .section-two__product-price{
    align-items: center;
    font: bold 26px/28px 'montserrat', Arial, Helvetica, Sans-serif;
    margin-left:15%;
  }
  .section-two__product-button{
    font:13px 'Montserrat', Arial, Helvetica, Sans-serif;
    width: 180px;
  }

  .look-text__title{
    font: bold 20px/22px 'montserrat', arial, helvetica, sans-serif;
   }
  .look-text__subtitle{
    font: 10px 'montserrat', arial, helvetica, sans-serif;
  }
  .look-text__text{
    font: 11px/15px 'montserrat', arial, helvetica, sans-serif;
  }
  .look-text__button{
    font:13px 'Montserrat', Arial, Helvetica, Sans-serif;
    width: 175px;
    margin: 0px 22px 0px 40px;
  }
  .section-three__link{
    font: 16px/19px 'montserrat', arial, helvetica, sans-serif;
  }
}

@media (max-width: 398px){
  .section-two{
    height: 700px;
    margin-top: 70px;
  }
  .section-two__product{
    width: 78%;
    margin: 73% 0px 0px 11%;
  }
  .section-two__product-button{
    margin: 85px 67px 0px 63px;
  }

  .section-three{
    height: 680px;
   }
  .section-three::before{
     height: 680px;
   }
  .section-three__look-text{
     margin: 56% 0px 0px 20%;
     width: 60%;
   }
  .look-text__button{
    margin: 0px 22px 0px 35px;
  }
  .section-three__link{
    margin: 123% 40px 0px 50%;
  }
  .section-three__vektor{
    margin: 133% 0px 0px 50%;
  }
}

@media (max-width: 375px){
  .header::before{
    display: none;
  }
  .header__logo {
    display: flex;
    width: 317px;
    height:40px;
    font-size: 30px;
    letter-spacing: 0.07em;
    color: black;
    background-color: white;
    align-items: center;
    padding-top: 14px;
    padding-left: 26px;
  }
  .header__language {
    display: none;
  }
  .burger-menu{
    margin-left: auto;
  }
  #burger-menu__toggle {
    display: none;
  }
  .burger-menu__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 69px;
    height: 69px;
    cursor: pointer;
    opacity: initial;
    background: #E5E5E5;
  }
  .burger-menu__btn::before {
   content: "";
   position: absolute;
   background: black;
   width: 18.7px;
   height: 3.48px;
   top: 29.5px;
   right: 25px;
  }
  .burger-menu__btn::after {
   content: "";
   background: black;
   position: absolute;
   width: 18.7px;
   height: 3.48px;
   top: 39px;
   right: 25px;
  }

  .section-one{
    display: flex;
  }
  .section-one__img{
    position: absolute;
    width: 374px;
    height: 528px;
    background: no-repeat url('img/girl_mobile.png');
    background-size: 100%;
    background-position: top 98% left 0%;
    margin: 0;
    padding: 0;
  }
  .section-one__title{
    font: bold 52px/51px montserrat, Arial, Helvetica, Sans-serif;
    padding: 365px 0px 0px 24px;
    margin: 0px;
    z-index: 2;
  }
  .section-one__subtitle{
    display: none;
  }
  .section-one__button{
    display: none;
  }
  .section-one__link{
    display: none;
  }
  .section-one__vektor{
    display: none;
  }
  .section-one__footer{
    display: none;
  }

  .section-two{
    height: 634px;
    margin-top: 24px;
  }
  .section-two__bag-one{
    display: none;
  }
  .section-two__bag-img-two{
    position: absolute;
    height: 289px;
    width: 224px;
    background-position: top 41% left 99%;
    background-size: 75%;
    padding: 0px 0px 0px 76px;
    margin: 0px;
  }
  .section-two__product{
    position: absolute;
    width: 322px;
    height: 282px;
    margin: 298px 0px 0px 26px;
  }
  .section-two__product_title{
    font: bold 21px/20px 'montserrat', Arial, Helvetica, Sans-serif;
    padding: 21px 0px 3px 31px;
  }
  .section-two__product_subtitle{
    font:bold 9px/10px 'montserrat', Arial, Helvetica, Sans-serif;
    padding: 0px 0px 15px 34px;
    letter-spacing: 0.17em;
  }
  .section-two__product_text{
    font: 10px/13px 'montserrat', Arial, Helvetica, Sans-serif;
    padding: 0px 41px 0px 33px;
  }
  .section-two__circle{
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  .section-two__circle-color{
    width: 23px;
    height: 23px;
  }
  .section-two__product_circle_grey {
    margin-left: 38px;
  }
  .section-two__product_circle_pink {
    margin-left: 12px;
  }
  .section-two__product_circle_blue {
    margin-left: 12px;
  }
  .section-two__product_circle_green {
    margin-left: 12px;
  }
  .section-two__product-price{
    align-items: center;
    font: bold 20px/28px 'montserrat', Arial, Helvetica, Sans-serif;
    margin-left:26%;
  }
  .section-two__product-button{
    width: 260px;
    height: 37px;
    margin: 74px 0px 0px 33px;
    font:14px 'Montserrat', Arial, Helvetica, Sans-serif;
  }
  .section-two__link{
    display: none;
  }
  .section-two__vektor{
    display: none;
  }

  .section-three{
  height: 597px;
}
  .section-three::before{
    content: '';
    display: flex;
    position: absolute;
    margin: 0 0 0 40%;
    width: 42px;
    height: 597px;
    background: black;
    right: 62%;
  }
  .section-three__look{
    position: absolute;
    z-index: 1;
    width: 345px;
    background-size: 100%;
    margin-left: 14px;
    margin-top: 34px;
  }
  .section-three__look-text{
   position: absolute;
   margin: 274px 0px 0px 44px;
   width: 305px;
   height: 195px;
   z-index: 1;
  }
  .look-text__title{
    font: bold 21px/20px 'montserrat', arial, helvetica, sans-serif;
    margin: 25px 0px 0px 23px;
   }
  .look-text__subtitle{
    font: 10px 'montserrat', arial, helvetica, sans-serif;
    margin: 5px 0px 0px 23px;
  }
  .look-text__text{
    font: 10px/12px 'montserrat', arial, helvetica, sans-serif;
    margin: 9px 55px 24px 24px;
  }
  .look-text__button{
    font: 14px 'montserrat', arial, helvetica, sans-serif;
    height: 37px;
    width: 260px;
    margin: 0px 0px 0px 24px;
  }
  .section-three__link{
    font: 16px/17px 'montserrat', arial, helvetica, sans-serif;
    margin: 509px 40px 0px 189px;
  }
  .section-three__vektor{
    margin: 546px 0px 0px 187px;
    background-size: 100%;
    width: 138px;
  }
  .section-three__footer{
	  display: none;
  }
}
}
